@using Parcels.Models ;

<h1>Welcome to SABMARIA shipping Company</h1>


<a href ="/items/new"> Add a new shipping item</a>

<h2>Your Shipping Items:</h2>
<a href= "/items">View all shipping items</a>
