<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Parcels</title>
  </head>
  <body>
    
    <h2> Please enter informations to calculate the price of your shipping </h2>


    <form action="/items" method="post">
      <label for="description">Add a new product </label>
      <input id="description" name="description" type="text">
      <label for="weight"> Weight </label>
      <input id="weight" name="weight" type="number">
      <label for="height">Height </label>
      <input id="height" name="height" type="number">
      <label for="width">Width </label>
      <input id="width" name="width" type="number">
      <label for="length">Length </label>
      <input id="length" name="length" type="number">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
